.AnswerPercent {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.AnswerPercent span {
    font-weight: bold;
    font-size: large;
}