.AnswerPercent {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.AnswerPercent span {
    font-weight: bold;
    font-size: large;
}

.indexNumber {
    color: orange;
    border-radius: 2px;
    font-weight: 600;
}

.text {
    font-weight: bold;
}

.wholeQuestion {
    margin-bottom: 10px;
    border-left-width: 50%;
    border-right-width: 20%;
}

.cssGreen {
    color: green;
}

.cssRed {
    color: red;
}

.cssBlue {
    color: blue;
}

span {
    font-weight: bold;
}

.Percentage {
    font-size: xx-large;
    font-weight: bold;
}

.CorrectAnswer span,
.SkippedAnswer span,
.WrongAnswer span {
    font-weight: normal;
    font-style: italic;
}

.specificQuestion {
    border: 2px solid black;
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width: 499px) {
    .AnswerPercent {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .specificQuestion {
        display: inline-block;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}