* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.QuizCompletedLogo {
  margin-top: 50px;
  text-align: center;
}

.pickedAnswer {
  color: 'green';
}

.QuestionMarker,
h3 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: x-large;
}

@media screen and (max-width: 787px) {
  .Question {
    margin-top: 50px;
  }
}
